@font-face {
  font-family: "dosis";
  src: url("Dosis-Light.ttf"); /* IE9 Compat Modes */
  src: url("Dosis-Light.ttf") format("truetype"); /* Safari, Android, iOS */
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* max-width: calc(100% - 100px); */
  /* font-weight: 100; */
}
body {
  margin: 0 0 10px 0;
  padding: 0;
  background-color: #f3f3f3;
}

body,
input,
textarea,
button {
  font-family: "dosis";
  font-size: 1.5em;
}

.imagem_titulo {
  background-image: url("./palavrilhas.png");
  min-width: 350px;
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  background-position: center;
}

.titulo_jogo {
  font-weight: 900;
  font-size: 120%;
  margin-bottom: 0;
}

.subtitulo {
  transform: translateY(-50px);
}

#form_nova_palavra {
  font-size: 150%;
  /* font-size: 30px; */
}

div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#conteudo {
  display: flex;
  flex-wrap: wrap;
  padding-top: 200px;
  /* flex-direction: column; */
  height: calc(100% - 200px);
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* max-width: 90%; */
  /* min-height: 400px; */
  min-width: 420px;
  border: 1px solid #000;
  margin: 25px auto;
}

.interior_tabs {
  width: 100%;
  /* padding: 10px; */
}

form {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  padding: 10px;
}

#tab_1 {
  text-align: center;
}

#tab_1 * {
  padding: 10px;
  margin: 10px;
  line-height: 2;
}

#tab_1 a {
  display: block;
  text-decoration: none;
  /* border: 1px dotted #000; */
  border: 1px solid black;
  color: black;
  background: darkgray;
}
#tab_1 a:hover {
  text-decoration: underline;
  color: white;
}

#tab_3 {
  /* width: 80%; */
  padding: 10px;
}

.lista_palavras {
  display: flex;
}

.lista_palavras ul li {
  list-style-type: none;
  display: flex;
  margin-bottom: 5px;
}

.lista_palavras .id_palavra,
.lista_palavras .comp {
  text-align: center;
  border: 1px solid black;
  /* border-right: none; */
  padding: 5px;
  line-height: 2;
  background: #f4f4f4;
  display: flex;
  text-decoration: none;
  color: black;
  word-break: break-word;
  min-width: 50px;
  justify-content: center;
  /* align-self: center; */
  font-size: 80%;
  /* margin: 5px; */
  min-height: 50px;
  align-items: center;
}

.lista_palavras > div {
  width: 50%;
}

.lista_palavras #lista_verticais,
.lista_palavras #lista_horizontais {
  padding: 0;
}

.clickable_clue {
  border: 1px solid gray;
  padding: 5px;
  line-height: 2;
  background: white;
  display: inline;
  color: #888;
  text-decoration: line-through;
  word-break: break-word;
}

.tentativas {
  font-size: 20px;
  margin-left: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
  color: darkred;
}

.clickable_clue.active {
  text-decoration: none;
  color: black;
}

#form_nova_palavra {
  text-align: center;
  text-transform: uppercase;
  /* font-size: 18px; */
  /* font-weight: bold; */
  margin: 10px 0;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: pink;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: pink;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: pink;
}

#form_nova_pista {
  padding: 5px;
}

form button {
  font-size: 32px;
  padding: 10px;
  margin-top: 10px;
  text-transform: uppercase;
  border: 1px dotted red;
  background-color: white;
  outline: none;
  color: black;
}

form button:hover {
  cursor: pointer;
}

#tab_2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#tab_5 {
  width: 100%;
}

#tab_5 > .interior_tabs {
  padding: 10px;
}

#tab_5 .explica {
  text-align: center;
}

.explica img {
  max-height: 70px;
  margin-top: 20px;
}

.players_container {
  display: inline-block;
}

#player_number {
  color: red;
}

#connection {
  display: inline-block;
}

#connection span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

#connection span.on {
  background-color: green;
}
#connection span.off {
  background-color: orange;
}

#counter {
  color: red;
  position: fixed;
  top: 5px;
  left: 0;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#mensagens {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  text-align: center;
  height: 200px;
  align-items: center;
  display: flex;
  justify-content: center;

  background-image: linear-gradient(
      45deg,
      #f3f3f3 25%,
      transparent 25%,
      transparent 75%,
      #f3f3f3 75%,
      #f3f3f3
    ),
    linear-gradient(
      45deg,
      #f3f3f3 25%,
      transparent 25%,
      transparent 75%,
      #f3f3f3 75%,
      #f3f3f3
    );
  background-size: 100px 100px;
  background-position: 0 0, 50px 50px;
}

#mensagens div {
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: center;
}

.message_top {
  background-color: #fff;
  padding: 10px;
  border: 1px dotted red;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}

.small_text {
  font-size: 80%;
}

.pergunta {
  margin: 5px;
  /* font-family: monospace; */
  /* font-size: 24px; */
  font-weight: 900;
  font-size: 30px;
  animation: pulse 2s 1;
}

#div_resolve input,
#div_resolve button {
  font-size: 32px;
  margin: 10px;
  padding: 5px;
  text-transform: uppercase;
  border: 1px dotted red;
  background-color: white;
  outline: none;
  color: black;
  /* height: 40px; */
}

.maiusculas {
  text-transform: uppercase;
}

p {
  margin: 0;
}

.twitch {
  border: 1px dotted purple;
  width: 80%;
  margin: 0 auto;
  min-height: 600px;
  /* position: absolute;
  top: 0;
  left: 0; */
  /* z-index: -1; */
}

.twitch .twitch-video iframe {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(202, 11, 11, 0.76);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@media screen and (max-width: 1200px) {
  body,
  input,
  textarea,
  button {
    font-family: "dosis";
    font-size: 2.5em;
  }

  #mensagens {
    /* height: 150px; */
  }

  #conteudo {
    /* margin-top: 150px; */
  }

  .tabs {
    width: 95%;
    margin: 5px auto;
    min-width: auto;
  }

  .lista_palavras {
    display: block;
  }

  .lista_palavras > div {
    width: 100%;
  }

  form textarea {
    font-size: 32px;
  }

  #form_nova_palavra {
    font-size: 40px;
  }
  
/* .twitch {
  width: 98%;
  margin: 0 auto;
  min-height: 600px;
} */
}
